<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
		
		<title>프로필 화면</title>
		
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    	<script src = "../public/jquery-2.1.4.min.js"></script>
    	<style>
        	body        { padding-top:80px; }
    	</style>
    
	</head>
	<body>
		
		<div class="container">			
						
			<div class="page-header text-center">
		        <h1><span class="fa fa-book"></span> 사용자 프로필</h1>
		        <a href="/logout" class="btn btn-default btn-sm">로그아웃</a>
		    </div>
			<br>
		    <div class="row">
		
		        <div class="col-sm-6">
		            <div class="well">
		            
		            	<% if (user.provider == undefined || user.provider == '') { %>
			                <h3><span class="fa fa-user"></span> 사원 프로필</h3>
							<br>
							<p>
								<strong id ="emp">사원번호</strong>: <%= user.employee_num %><br><br>
		                		<strong>이름</strong>: <%= user.Name %><br><br>
		                		<strong>직급</strong>: <%= user.Rank %><br><br>
		                		<strong>부서</strong>: <%= user.Department %><br><br>
		                		<strong>생일</strong>: <%= user.Date_of_birth %><br><br>
		                		<strong>주소</strong>: <%= user.Address %><br><br>
		                		<strong>비상연락망</strong>: <%= user.Ecn_num %><br><br>
		                		<strong>가입날짜</strong>: <%= user.created_at %><br><br>
		                		<%if(user.OTP == 'NO') { %>
		                			<a href="#" 
		                			onclick="window.open('/otpadd','_blank', 'width=600 height=500');return false"
		                			class="btn btn-default" id="otpadd"><span class="fa fa-user"></span>OTP등록</a>
		                		<%} else { %>
		                			<strong>OTP등록완료</strong>
		                		<%} %>
			                </p>
			                
						<% } %>
						<br>
		            </div>
		        </div>
		
		    </div>
			
		</div>	
			
	</body>
</html>